<form>
  <div class="threat-config">
    <div class="search-container">
      <input type="text" id="trait-search" placeholder="{{localize 'pf2e-threat-tracker.config.search.placeholder'}}" />
    </div>

    <div class="trait-grid" id="trait-list">
      {{#each traits}}
        <div class="trait-entry" data-trait="{{@key}}">
          <label>{{@key}}</label>
          <input type="number" name="value" value="{{this}}" step="1" />
        </div>
      {{/each}}
    </div>

    <button type="submit" class="dialog-button default">
      {{localize "pf2e-threat-tracker.config.save"}}
    </button>
  </div>
</form>
